:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-for-links: rgba(255, 255, 255, 0.6);
  --blue-for-button-accent: #188ce8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --white-for-bg: #f5f4fa;
  --black-color: #000000;
  --black-for-bg: #2f303a;
  --bg-for-hero: rgba(47, 48, 58, 0.4);
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --gray-for-svg: #afb1b8;
  --white-for-social: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Студія */

.page-links {
  display: flex;
}

.contacts.list {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-links .link {
  display: inline-block;
  padding: 32px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-links .item + .item,
.contacts.list .item + .item {
  margin-left: 50px;
}

.page-links .logo {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-links {
  margin-left: 93px;
}

.link,
.logo,
.contacts a {
  text-decoration: none;
}

/* Лого */

.logo {
  color: var(--black-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/* Навігація */

.logo > .accent {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-element .link.active {
  color: var(--accent-color);
}
.nav-element {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* Контактна інформація */
.contact-information {
  display: flex;
  align-items: center;
  cursor: pointer;
}

li > .e-mail,
li > .ph-number {
  font-weight: 500;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

li .e-mail:hover,
li .e-mail:focus,
li .ph-number:hover,
li .ph-number:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* Хіро */

.hero .overlay {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #2196f3;
  background-image: linear-gradient(to right, var(--bg-for-hero), var(--bg-for-hero)),
    url('../images/overlay.jpg');
  background-color: var(--black-for-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--blue-for-button-accent);
  cursor: pointer;
}

/* Модальне вікно */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: var(--black-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close:hover .icon-close,
.button-close:active .icon-close {
  fill: var(--accent-color);
}

/* Форма */

.form {
  padding: 40px;
}

.form-title {
  width: 100%;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-field.textarea {
  margin-bottom: 18px;
}

.form-field {
  position: relative;
  width: 100%;
  cursor: pointer;
   margin-bottom: 10px;
}

.form-field .form-icon {
  fill: var(--title-text-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-input {
  border: 1px solid var(--accent-color);
}

.form-field:focus-within > .form-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.comment {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--title-text-color);
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin-bottom: 30px;
}

.form-checkbox .item + .item {
  margin-left: 7px;
}

.form-checkbox .label,
.form-checkbox .policy-link {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.form-checkbox .label {
  color: var(--primary-text-color);
}

.form-checkbox .policy-link {
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .icon {
  border: 2px solid var(--accent-color);
}

.checkbox:checked + .icon {
  border: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.form-button {
  box-sizing: border-box;
  width: 200px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--blue-for-button-accent);
}
/* Особливості */

.feature-list {
  display: flex;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feauters {
  width: 270px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--white-for-bg);
}

.feauters > .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.feauters > .text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.specialisation-section {
  padding-top: 0px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.thumb {
  position: relative;
}

.overlay-special {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-special .text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Спеціалізація */

.specialisation {
  display: flex;
}

.specialisation .item + .item {
  margin-left: 30px;
}

/* Наша команда */

.section-team {
  background-color: var(--white-for-bg);
}

.cards.list {
  display: flex;
  text-align: center;
}

.cards .item + .item {
  margin-left: 30px;
}

.card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card > .card-title,
.card > .card-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.card-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}

.card-text {
  margin-bottom: 16px;
}

.card-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-social-links {
  display: flex;
  justify-content: center;
}

.container-social-links .item + .item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-icon {
  fill: var(--gray-for-svg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: currentColor;
}

/* Наші клієнти */

.client-list {
  display: flex;
}

.client-list .item + .item {
  margin-left: 30px;
}

.client-link {
  display: flex;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-for-svg);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}
.client-icon {
  fill: var(--gray-for-svg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
/* Футер */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-for-bg);
}

/* Контaктна інформація */
footer .logo,
footer .address {
  color: var(--primary-white-color);
}

footer a,
footer .address {
  display: block;
}

footer .logo {
  margin-bottom: 20px;
}

footer .address,
.contact-footer {
  margin-bottom: 9px;
}

address > .address,
.e-mail,
.ph-number {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts.footer {
  display: block;
}

.footer.e-mail,
.footer.ph-number {
  color: var(--white-for-links);
}

/* Social Links */
.address-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.list-item .item + .item {
  margin-left: 10px;
}

.title-social-links {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-list {
  display: flex;
}

.footer.social-link {
  background-color: var(--white-for-social);
  color: var(--primary-white-color);
}

.footer.social-link:hover,
.footer.social-link:focus {
  background-color: var(--accent-color);
}

.footer.social-icon {
  fill: currentColor;
}

/* Підписка на розсилку */

.subscribe-box {
  width: 570px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  margin-left: 12px;
  box-sizing: border-box;
  width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;
}

.subscribe-icon {
  margin-left: 10px;
}
/* Портфоліо */

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header.porfolio {
  margin-bottom: 94px;
}

/* Фільтр */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter-button {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--white-for-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Проекти */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}

.img {
  display: block;
}

.portfolio-text {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
}

.portfolio-list > .portfolio-item:nth-last-child(3n + 1) {
  margin-right: 0;
}

.portfolio-list > .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .portfolio-link:hover,
.portfolio-item .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link .title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.portfolio-link:hover .portfolio-box {
  transform: translateY(0);
}
